@import url("..//fonts/golos/stylesheet.css");
@import url("..//fonts/mediator/stylesheet.css");

.ff-golos {
	font-family: 'Golos Text';
}

.ff-mediator {
	font-family: 'Mediator Serif Web Narrow';
}

.fs20 {
    font-size: 20px;

    @media (max-width: 576px) {
        font-size: 16px;
    }
}

.fs44 {
    font-size: 44px;

    @media (max-width: 576px) {
        font-size: 24px;
    }
}

button {
    border: none;
    background: none;
    padding: 0;
    outline: none;
    cursor: pointer;
}

button.prymary {
    display: flex;
    padding: 24px 54px;
    justify-content: center;
    align-items: center;
    color: var(--text-light, #FFF);
    font-style: normal;
    font-weight: 500;
    line-height: 125%;
    border-radius: 16px;
    background: var(--brand-dark-red, #A62B22);

    &:hover {
        background: var(--hover-color, #87231C);
    }
}

a {
    outline: none;
}

a.prymary {
    display: flex;
    width: 330px;
    padding: 24px 10px;
    justify-content: center;
    align-items: center;
    color: var(--text-light, #FFF);
    font-style: normal;
    font-weight: 500;
    line-height: 125%;
    border-radius: 16px;
    background: var(--brand-dark-red, #A62B22);
    text-decoration: none;

    &:hover {
        background: var(--hover-color, #87231C);
    }

    &.menu-mobile {
        width: 100%;
    }

    @media (max-width: 499px) {
        width: 100%;
        padding: 19px 10px;
    }
}

input.exec-input {
    display: flex;
    padding: 24px;
    align-items: flex-start;
    border-radius: 16px;
    border: 0.5px solid var(--stroke, #BFBFBF);
    background: rgba(255, 255, 255, 0.05);
    outline: none;

    @media (max-width: 1023px) {
        padding: 19px 16px;
    }
}

input.exec-input:focus {
    border: 0.5px solid var(--stroke, #BFBFBF);
}

input.exec-input:active {
    border: 0.5px solid var(--stroke, #BFBFBF);
}

.exec-placeholder::placeholder {
    color: var(--text-secondary, #6B6B6B);
    font-size: 18px;

    @media (max-width: 576px) {
        font-size: 16px;
    }
}

/* WebKit, Edge
   ----------------------------  */
.exec-placeholder::-webkit-input-placeholder {
    color: var(--text-secondary, #6B6B6B);
    font-size: 18px;

    @media (max-width: 576px) {
        font-size: 16px;
    }
}

/* Edge
   ----------------------------  */
.exec-placeholder::-ms-input-placeholder {
    color: var(--text-secondary, #6B6B6B);
    font-size: 18px;

    @media (max-width: 576px) {
        font-size: 16px;
    }
}

/* Firefox 4-18
   ----------------------------  */
.exec-placeholder:-moz-placeholder {
    color: var(--text-secondary, #6B6B6B);opacity: 1;
    font-size: 18px;

    @media (max-width: 576px) {
        font-size: 16px;
    }
}

/* Firefox 19+
   ----------------------------  */
.exec-placeholder::-moz-placeholder {
    color: var(--text-secondary, #6B6B6B);opacity: 1;
    font-size: 18px;

    @media (max-width: 576px) {
        font-size: 16px;
    }
}

/* IE 10-11
   ----------------------------  */
.exec-placeholder:-ms-input-placeholder {
    color: var(--text-secondary, #6B6B6B);
    font-size: 18px;

    @media (max-width: 576px) {
        font-size: 16px;
    }
}

textarea.exec-textarea {
    padding: 24px;
    border-radius: 16px;
    border: 0.5px solid var(--stroke, #BFBFBF);
    background: rgba(255, 255, 255, 0.05);
    outline: none;
    resize: none;

    @media (max-width: 1023px) {
        padding: 17px 16px;
    }
}

.group-input {
	position: relative;

	& input:focus+label {
        display: none;
    }

	& input:not(:placeholder-shown)+label {
		display: none;
	}

	& label {
		position: absolute;
		top: 24px;
		left: 24px;
		font-size: 18px;
		color: #6B6B6B;

		@media (max-width: 1023px) {
			font-size: 16px;
			top: 19px;
			left: 16px;
	    }
	}

	& input:focus > span.input-warning {
        display: none;
    }

	& input:not(:placeholder-shown) > span.input-warning {
		display: none;
	}

	& span.input-warning {
		position: absolute;
		top: 24px;
		right: 24px;
		display: none;
		color: #A62B22;
		font-size: 16px;
		font-style: normal;
		font-weight: 400;
		line-height: 125%;
		letter-spacing: -0.32px;

		@media (max-width: 1023px) {
			font-size: 12px;
			letter-spacing: -0.24px;
			top: 22px;
			right: 16px;
	    }
	}
}
